---
layout: layout
---
<div>
    <!--导航黑色-->
    <div></div>
    <!--主内容-->
    <div>
        <h2>
            <span>
                <%= page.title %>
            </span>
        </h2>
        <%- page.content %>
    </div>
</div>